<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.hughes.droidchatty2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:icon="@drawable/ic_launcher" android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="www.shacknews.com" android:path="/chatty" />
                <data android:scheme="http" android:host="shacknews.com" android:path="/chatty" />
                <data android:scheme="http" android:host="www.shacknews.com" android:path="/laryn.x" />
                <data android:scheme="https" android:host="www.shacknews.com" android:path="/chatty" />
                <data android:scheme="https" android:host="shacknews.com" android:path="/chatty" />
                <data android:scheme="https" android:host="www.shacknews.com" android:path="/laryn.x" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:exported="false">
        </activity>
        <activity
            android:name=".activity.PostActivity"
            android:label="@string/title_activity_post"
            android:exported="false">
        </activity>
        <activity
            android:name=".activity.BrowserActivity"
            android:label="@string/title_activity_browser"
            android:theme="@style/SolidActionBarAppTheme"
            android:exported="false">
        </activity>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="5285d8b573edae9852810cd0e701cc5499ed4425"/>
    </application>

</manifest>