*.apk
*.ap_

*.dex

*.class

bin/
gen/

local.properties
.classpath
.project
.settings

proguard.cfg
proguard/

#Android Studio
.idea/
.gradle
*/local.properties
*/out
*/build
*/production
*.iml
*.iws
*.ipr
